<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Travel Planner</title>
  </head>
  <body>
    <div class="travel-planner" id="travel-planner">
      <h1>Travel Planner</h1>
      <div id="travel-cont">
        <!-- <div class="trip-card">
          <img
            src="https://via.placeholder.com/150"
            alt="Paris, France"
            class="trip-image"
          />
          <div class="trip-details">
            <p><strong>My trip to:</strong> Paris, France</p>
            <p><strong>Departing:</strong> 02/12/2020</p>
            <div class="trip-buttons">
              <button class="save-trip">Save Trip</button>
              <button class="remove-trip">Remove Trip</button>
            </div>
            <p class="trip-info">Paris, France is 220 days away</p>
            <p class="trip-weather">
              Typical weather for then is:<br />
              High - 46, Low - 35<br />
              Mostly cloudy throughout the day.
            </p>
            <div class="list">
              <div class="list-item">
                <p>add to do list<span>+</span></p>
              </div>
            </div>
          </div>
        </div> -->
      </div>

      <div class="add-trip">
        <div class="add-trip-element">
          <label for="trip-city">Add Trip</label>
          <input
            type="text"
            id="trip-city"
            name="trip-city"
            placeholder="Enter trip city"
          />
          <p id="location"></p>
        </div>
        <div class="add-trip-element">
          <label for="trip-date">Add Start Date</label>
          <input type="date" id="trip-date" name="trip-date" />
        </div>
        <div class="add-trip-element">
          <label for="trip-date">Add End Date</label>
          <input type="date" id="end-date" name="end-date" />
        </div>
        <button class="add-trip-button" id="add-trip-button">add</button>
      </div>
    </div>
  </body>
</html>
